.Main_page {
  width: 100%;
  height:500px;
  display: flex;
  justify-content: space-between;
 
}
.Right {
  float: right;
  width: 25%;
  border-left: 1px solid  black;
}
.Center {
  width: 60%;
  height:500px;
  margin: 10px;
  overflow: hidden;
}
.NavBar {
  
  width: 25%;
  border-right: 1px solid black;
}
@media (max-width: 600px) {
  .Main_page {
    flex-wrap: wrap;
  }
  .Center {
    width: 100%;
    position: fixed;
    top: 60px;
  }
  .NavBar {
    width: 100%;
    height: fit-content;
    border: none;
    position:fixed;
    top: 0px;
   
  }
  .Nav_links {
    display: none;
  }
  .Right {
    display: none;
  }
  .status_bar {
    position:static;
    top: 0%;
  }
  
}
